<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="writeTemplate" value="[%T] (%D:%t) &lt;%F:%l&gt;:%m"/>
    <add key="outputFilePath" value="log.txt"/>
    <add key="fromEmail" value=""/>
    <add key="fromName" value=""/>
    <add key="toEmail" value=""/>
    <add key="subject" value=""/>
    <add key="fromPassword" value=""/>
  </appSettings>
</configuration>